/* user info panel */
.user-info-panel {
    grid-column: 1/2;
    border-right: var(--main-border);
}

.chat-icon {
    margin: var(--icon-margin);
    text-align: center;
    cursor: default;
}

.settings-user-profile {
    /* background-color: blue; */
    height: 120px;
    margin-top: calc(100vh - 180px);
}

.settings {
    margin: var(--icon-margin);
}

.user-profile {
    margin: var(--icon-margin)
}

/* end fo user info panel */