.account-container {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.welcome-message {
    display: flex;
    padding: 8px 50px 0px 0px;
    flex-direction: column;
    align-items: center;
}

.first-message {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.second-message-box {
    display: flex;
    width: 100%;
    height: 47px;
    padding: 0px 0px 0 40px;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    color: var(--message-send-500);
}

.second-message-box>span {
    color: var(--message-send-500);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.account-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form-input,
.login-form-input {
    width: 280px;
    height: 30px;
    font-family: 'Archivo';
    padding-left: 7px;
    border-radius: 5px;
    border: 0.5px solid var(--primary-600);
    font-size: 14px;
    font-style: normal;
    color: var(--primary-600);
    font-weight: 400;
    line-height: normal;
    outline: none;
    margin: 10px 0;
}

.register-form-input::placeholder,
.login-form-input::placeholder {
    color: var(--primary-400);
}

.register-form-button,
.login-form-button {
    border-radius: 18px;
    border: 0.3px solid var(--secondary-100);
    background: var(--message-send-100);
    cursor: pointer;
    text-align: center;
    width: 200px;
    padding: 7px 14px;
    margin-top: 10px;
    color: var(--text-100);
    font-family: 'Archivo';
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.register-form-button:hover,
.login-form-button:hover {
    background-color: var(--message-send-200);
}

.register-form-button:active,
.login-form-button:active {
    background: var(--message-send-300);
}

.forgot-password {
    color: var(--message-send-500);
    font-family: Archivo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.register-account,
.have-account {
    display: flex;
    padding: 0 31px;
    justify-content: center;
    align-items: center;
    color: var(--primary-400);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link {
    color: var(--message-send-400);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 8px;
    text-decoration-line: underline;
}


.link:link {
    color: var(--message-send-600);
}