.account-container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
}

.logo {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.welcome-message {
    display: flex;
    padding: 8px 50px 0px 0px;
    flex-direction: column;
    align-items: center;
}

.first-message {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.second-message-box {
    display: flex;
    width: 100%;
    height: 47px;
    padding: 0px 0px 0 40px;
    justify-content: flex-end;
    align-items: center;
    gap: 27px;
    color: var(--message-send-500);
}

.second-message-box>span {
    color: var(--message-send-500, #1E407E);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.account-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.register-form-input,
.login-form-input {
    width: 320px;
    height: 30px;
    align-items: center;
    padding-left: 4px;
    border-radius: 5px;
    border: 0.3px solid var(--primary-100, #767676);
    background: #FFF;
    color: var(--primary-500, #111);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    outline: var(--primary-100);
}

.register-form-button,
.login-form-button {
    border-radius: 18px;
    border: 0.3px solid var(--primary-100, #767676);
    background: var(--message-send-400, #294E8F);
    cursor: pointer;
    display: flex;
    width: 250px;
    padding: 7px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--text-100);
    font-family: Archivo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.register-form-button:hover,
.login-form-button:hover {
background-color: var(--message-send-500);
}

.register-form-button:active,
.login-form-button:active {
background: var(--message-send-400, #294E8F);
}

.forgot-password {
    color: var(--message-send-500);
    font-family: Archivo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.register-account,.have-account {
    display: flex;
    padding: 9px 31px;
    justify-content: center;
    align-items: center;
    color: var(--primary-400);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link {
    color: var(--message-send-600);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 8px;
    text-decoration-line: underline;
}


.link:link {
    color: var(--message-send-600);
}