.svg-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: content;
    height: 40px;
    width: 60px;
    text-decoration: none;
}

svg {
    width: 25px;
    height: 25px;
    fill: var(--secondary-100);
}

.svg-box p {
    font-size: 10px;
    color: var(--secondary-100);
    font-weight: normal;
    pointer-events: none;
}

.svg-box:last-child:focus svg {
    fill: var(--message-send-300);
}

.svg-box:last-child:focus p {
    color: var(--message-send-300);
}
.svg-box:focus p {
    color: var(--message-send-300);
    
}
.svg-box:focus svg {
    fill: var(--message-send-300);
}

