:root {
	--primary-100: #262626;
	--primary-200: #1f1f1f;
	--primary-300: #070707;
	--primary-400: #050505;
	--primary-500: #030303;
	--primary-600: #000000;
	--secondary-600: #000000;
	--secondary-500: #151515;
	--secondary-400: #2f2f2f;
	--secondary-300: #585858;
	--secondary-200: #737373;
	--secondary-100: #868686;
	--danger-100: #ff7070;
	--danger-200: #f95353;
	--danger-300: #f16565;
	--danger-400: #f15d5d;
	--danger-500: #f14a4a;
	--danger-600: #f03737;
	--message-send-600: #05144e;
	--message-send-500: #001a7c;
	--message-send-400: #1450a3;
	--message-send-300: #1561cb;
	--message-send-200: #2d57f5;
	--message-send-100: #3c65ff;
	--message-receive-600: #686868;
	--message-receive-500: #8c8c8c;
	--message-receive-400: #b7b7b7;
	--message-receive-300: #c1c1c1;
	--message-receive-200: #dcdcdc;
	--message-receive-100: #f4f4f4;
	--text-600: #f4f4f4;
	--text-500: #f5f5f5;
	--text-400: #f9f9f9;
	--text-300: #fbfbfb;
	--text-200: #fefefe;
	--text-100: #ffffff;
	--background-600: #c7c7c7;
	--background-500: #d8d8d8;
	--background-400: #efefef;
	--background-300: #f2f2f2;
	--background-200: #fefffe;
	--background-100: #f8faf9;
}

button {
	cursor: pointer;
}
a:visited {
	color: var(--message-send-400, #294E8F);
}

a {
	color: var(--message-send-400, #294E8F)
}

