.messages-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

/* user panel */
.user {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 0 0 50px;

}

.dp-name-status {
    display: flex;
    width: 100%;
    align-items: center;
}

.dp-holder {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.dp {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 50px;
}

.username-status {
    padding-top: 9px;
    width: 100%;
    padding-bottom: 1px;
    padding-right: 20px;
    border-bottom: 0.1px solid var(--background-500);
}

.username {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    color: var(--primary-500);
    font-family: Archivo;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.status {
    color: var(--primary-100);
    font-family: Archivo;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    opacity: 0.8;
}

/* end of user panel */

/* messages box */
.messages {
    display: flex;
    position: fixed;
    top: 50px;
    bottom: 60px;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
    overflow-y: auto;
    flex: 4 1 auto;
    scroll-behavior: smooth;
}

/* message date holder */
.date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    margin: 10px 0;

}

.message-date {
    display: flex;
    padding: 2px 5px;
    border-radius: 15px;
    border: 0.4px solid var(--message-receive-200);
    color: var(--primary-100);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.message-holder {
    width: fit-content;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.message-holder .message-status {
    padding-right: 20px
}


.sender-holder {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: flex-end;
    align-self: flex-end;
    justify-content: flex-end;
}

.sender-holder .message-status {
    padding-right: 25px;
}

.message-content-holder {
    padding: 10px 10px;
    border-radius: 25px;
    color: var(--primary-600);
    font-size: 13.5px;
    word-spacing: 0.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    min-width: 8px;
    max-width: 310px;
    background-color: var(--background-300);
}

.sender-content {
    background: var(--message-send-300);
    color: var(--text-100);
}





.message-status {
    width: fit-content;
    padding: 5px 10px;
    border-radius: 18px;
    color: var(--secondary-400);
    text-align: center;
    font-size: 10.5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.message-status {
    align-self: flex-end;
}




/* end of messages box */

/* send message: form */
.send-message {
    position: fixed;
    bottom: 0;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    align-items: flex-end;
    gap: 12px;
    padding: 15px 10px;
    width: 100%;
    border: 1px solid #C7C7C7;
}

.message-input {
    border-radius: 15px;
    border: 0.7px solid var(--primary-100);
    font-family: 'Archivo';
    font-size: 15.5px;
    height: 30px;
    max-height: 80px;
    padding: 5px 10px;
    max-height: 80px;
    resize: none;
    outline: none;
    background: rgb(255, 255, 255);
    width: 75%;
}


.send-button {
    width: 28px;
    height: 28px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: var(--message-send-400);
    display: flex;
    padding: 3px;
    cursor: pointer;
    align-self: flex-end;
}

.send-svg {
    width: 98%;
    height: 98%;
    align-self: center;
    border-radius: 50px;
    fill: white;
}


@media (min-width: 768px) {
    .user {
        height: 70px;
    }

    .dp-name-status {
        padding-top: 5px;
        padding-left: 7px;
    }

    .dp-holder {
        width: 60px;
        height: 60px;
    }

    .dp {
        width: 100%;
        height: 100%;
    }

    .username-status {
        height: 100%;
        padding-left: 7px;
        padding-top: 15px;
    }

    .username {
        font-size: 16px;
    }

    .status {
        font-size: 13.8px;
    }

    .messages {
        top: 70px;
    }

    .message-date {
        font-size: 14px;
    }

    .message-status {
        font-size: 13px;
    }

    .message-content-holder {
        width: 20rem;
        font-size: 16px;
    }

    .message-input {
        font-size: 15px;
    }

    .send-button {
        width: 40px;
        height: 40px;
    }

}

@media (min-width: 1024px) {
    .user {
        height: 90px;
    }

    .dp-name-status {
        padding-top: 10px;
        padding-left: 10px;
    }

    .dp-holder {
        width: 70px;
        height: 70px;
    }

    .dp {
        width: 100%;
        height: 100%;
    }

    .username-status {
        height: 100%;
        padding-left: 7px;
        padding-top: 20px;
    }

    .username {
        font-size: 18px;
    }

    .status {
        font-size: 14.8px;
    }

    .messages {
        top: 90px;
    }

    .message-date {
        font-size: 16px;
    }

    .message-status {
        font-size: 14px;
    }

    .message-content-holder {
        width: 32rem;
        font-size: 18px;
    }

    .message-input {
        font-size: 16px;
        padding-top: 9px;
    }

    .send-button {
        width: 60px;
        height: 60px;
    }

}


/* end of send message */