.newContacts {
    display: flex;
    height: 100dvh;
    width: 100dvw;
    flex-direction: column;
    align-items: flex-start;
}

.close-holder {
    display: flex;
    width: 100%;
    overflow: hidden;
    padding: 11px 31px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;

}

.search-page {
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    padding: 0px 10px;
    width: 100%;
    background: var(--text-100, #FFF);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding-bottom: 5px;
    border-bottom: .1px solid rgb(189, 189, 189);
}

.search-holder {
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
}


.search-bar {
    position: absolute;
    width: 300px;
    height: 36px;
    padding: 16px 13px;
    border-radius: 20px;
    border: 1px solid var(--secondary-100, #868686);
    background: var(--Color, #FFF);
    outline: none;
    padding-left: 25px;
    color: var(--secondary-200, #737373);
    padding-right: 25px;
    font-size: 1.125rem;

}

.search-icon {
    position: absolute;
    top: 12px;
    left: 8px;
    z-index: 10;
}

.search-close {
    position: absolute;
    color: green;
    top: 8px;
    right: 5px;
    cursor: pointer;
    z-index: 11;
}

.search-close:hover,
.close-holder img:hover {
    background-color: rgb(228, 228, 228);
    border-radius: 50%;
}

.new-friends-list {
    display: flex;
    overflow: hidden;
    background: #FFF;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}

.new-friend {
    display: flex;
    width: 390px;
    height: 65px;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid var(--message-receive-200, #DCDCDC);
}

.dp-holder {
    display: flex;
    width: 70px;
    height: 65px;
    overflow: hidden;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.dp-holder img {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background: lightgray 50% / cover no-repeat;
    flex-shrink: 0;
}

.user-info {
    display: flex;
    width: 320px;
    height: 65px;
    padding: 12px 0px;
    flex-direction: column;
    align-items: center;
    gap: -8px;
    overflow: hidden;
}

/* .username {
    padding: 20px 26px 21px 2px;
    gap: 10px;
    flex: 1 0 0;
    width: 100%;
  height: calc(65 / 2 * 1px);
    padding: 20px 26px 21px 2px;
    opacity: 0.7;
    color: var(--primary-400, #050505);
    font-family: Archivo;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
} */

/* .bio {
    color: var(--message-receive-500, #8C8C8C);
    font-family: Archivo;
    font-size: 13.5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--message-receive-500, #8C8C8C);
} */