@import url('./main.css');

.chats-panel {
    width: 100%;
    height: 100dvh;
    font-family: 'Noto Sans Bengali', sans-serif;
}

.search-container {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-holder {
    width: fit-content;
    position: relative;
}

.search-holder svg {
    position: absolute;
    font-weight: 300;
    font-size: 16px;
    top: 5px;
    left: 5px;
}

.search-holder input {
    font-size: 15px;
    width: 250px;
    height: 24px;
    border-radius: 12px;
    padding-left: 25px;
    outline: none;
    border: 1px solid var(--secondary-100);
}

.search-holder input:focus {
    outline: 1px solid var(--secondary-100);
}

.chats-text-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--secondary-100);
    padding-top: 5px;
}

.chats-text,
.chats-text-container svg {
    font-size: 20px;
}

.chats-text {
    padding-left: 10px;
    font-weight: 500;
}

.chats-text-container svg {
    padding-right: 10px;
}

.chats {
    width: 100%;
    padding-bottom: 30px;
}

.chat {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
    height: 60px;
}

.picture-frame {
    width: 55px;
    border-radius: 50%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.picture-frame img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.user-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-bottom: 1px solid var(--message-receive-400);
}


.username-and-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 0px;
    height: 22px;
}

.username {
    font-weight: 500;
    font-size: 15.5px;
    color: var(--primary-500);
}

.last-message-time {
    font-weight: 300;
    font-size: 13px;
    color: var(--message-receive-400);
}

.last-message {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-overflow: ellipsis;
    color: var(--message-receive-500);
    padding-top: 0px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid var(--message-receive-400);
    height: 35px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    right: 0;
    background-color: var(--text-200)
}

.menu svg {
    font-size: 24px;
}

.menu svg path {
    fill: var(--message-receive-500);
}

.menu svg path:active {
    fill: var(--primary-500);
}

/* messages panel */

.messages-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    font-family: 'Noto Sans Bengali', sans-serif;
}

.chat-info {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 10px;
    /* position: fi; */
}

.chat-info svg {
    font-size: 24px;
    margin-right: 10px;
}

.chat-info svg path {
    fill: var(--message-receive-500);
}

.chat-dp {
    width: 40px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.chat-dp img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0px 0px;
}

.chat-username-status {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-bottom: 1px solid var(--message-receive-400);
    width: 100%;
}


.chat-username {
    font-size: 15px;
    padding-top: 3px;
    height: 20px;
}

.chat-status {
    font-size: 13px;
    color: var(--message-receive-400);
}